<configuration>
  <system.webServer>
    <cors enabled="true" failUnlistedOrigins="true">
      <add origin="https://www.specific-domain.com">
        <allowMethods>
          <add method="GET" />
          <add method="POST" />
          <add method="PUT" />
          <add method="DELETE" />
        </allowMethods>
        <allowHeaders>
          <add header="Content-Type" />
          <add header="Authorization" />
        </allowHeaders>
        <allowCredentials enabled="true" />
        <exposeHeaders>
            <add header="Content-Disposition" />
        </exposeHeaders>
        <maxAge value="3600" />
      </add>
      

    </cors>
  </system.webServer>
</configuration>
