<configuration>
  <system.webServer>
    <handlers>
      <remove name="WebDAVModule" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="Handle Preflight" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
          </conditions>
          <action type="CustomResponse" statusCode="204" statusReason="No Content" statusDescription="No Content" />
        </rule>
      </rules>
    </rewrite>

    <cors enabled="true" failUnlistedOrigins="true">
        <add origin="http://adadmin.ncc.local">
            <allowMethods>
                <add method="GET" />
                <add method="POST" />
                <add method="PUT" />
                <add method="DELETE" />
                <add method="OPTIONS" />
            </allowMethods>
            <allowHeaders allowAllRequestedHeaders="true" />
            <allowCredentials enabled="true" />
        </add>
    </cors>
  </system.webServer>
</configuration>
